*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 1rem;
  padding: 16px;
  text-align: center;
}

.qr-code-card{
  border-style: none;
  border-radius: 15px;
  width: 280px;
  padding: 12px;
  background-color: hsl(0, 0%, 100%);
}

.card-image{
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  border-style: none;
}

.card-title{
  font-size: 1.1rem;
  margin: 15px 15px;
}

.card-text{
  color: hsl(216, 15%, 48%);
  margin: 0 5px 25px ;
  font-size: 0.85rem;
}
